.container {
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 100%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.039);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 25px;
    color: #fff;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

.card h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 24px;
    font-size: 1.6rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 6px;
    transition: transform 0.3s;
    background-color: #000000a7;
}

.row:hover {
    transform: scale(1.02);
}

.input, .inputService {
    padding: 4px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.inputService {
    width: 40%;
}

.icons {
    display: flex;
    gap: 10px;
}

.iconDelete {
    transition: transform 0.2s;
}

.iconDelete:hover {
    transform: scale(1.10);
}

@media (max-width: 648px) {
    .grid {
        grid-template-columns: 1fr; /* uma coluna */
    }
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid #d1d5db;
  border-top-color: #18181b;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}